*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font: 14px ariel;
}
body {
    min-height: 1200px;
    background-image: url(../image/bg-top.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
.clearfix{
    clear: both;
}
.full-container{
    width: 100%;
}
a {
    color: white;
    list-style: none;
}
.banner div{
    border: solid 1px red;
}
.banner{
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 680px;
    position: relative;
    display: grid;
    grid-template-columns: 300px auto 285px;
    gap: 5px;
}
